// plant animations

#right-leaf {
  animation: plant 1.5s ease infinite alternate 0.5s;
}

#left-leaf {
  animation: plant 1.5s ease infinite alternate;
}

@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}

// Me animations
#me {
  animation: me 1s ease infinite alternate;
  transform-origin: bottom;
}

@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

// clock animations

#arm {
  animation: arm 1.5s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes arm {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
