* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  @include ipad {
    font-size: 53%;
  }
  @include iphone {
    font-size: 47%;
  }
}

h1 {
  font-size: $header1;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $header3;
}

h4,
h5 {
  font-size: $header4;
}

li,
button,
label,
input,
a,
p {
  font-size: $text;
}

a {
  text-decoration: none;
  color: $gray-text;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-thumb {
  background: #00bdaa;
}
