.intro {
  width: 95%;
  min-height: 85vh;
  margin: 0 0 0 5%;
  flex-wrap: wrap;
  @include flex(space-between, center, row);
  @include iphone {
    width: 90%;
    margin: 0 5% 0 5%;
  }

  &__text {
    flex: 2 1 40rem;
    @include ipad {
      flex: 1 1 40rem;
    }
  }
  &__images {
    flex: 1 1 40rem;
  }

  &__me {
    @include ipad {
      width: 80%;
    }
    @include iphone {
      height: 20%;
      margin-bottom: 2.5rem;
    }
  }

  &__name {
    font-size: 4.5rem;
    padding-top: 2rem;
    @include iphone {
      padding-top: 4rem;
    }
  }

  &__job {
    font-size: 3rem;
    padding: 2rem 0;
  }
  &__desc {
    width: 80%;
    padding-top: 1rem;
    color: $gray-text;
    @include ipad {
      width: 100%;
    }
  }

  &__social {
    padding-top: 2.5rem;
    @include iphone {
      margin-bottom: 2rem;
    }
  }

  &__social--github {
    margin-right: 1.2rem;
    width: 3.5rem;
  }

  &__social--linkedin {
    width: 3.5rem;
  }

  &__splash {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    @include ipad {
      display: none;
    }
  }
}
