.header {
  width: 95%;
  margin: 0 0 0 auto;
  @include iphone {
    width: 100%;
  }
}

.nav {
  @include flex(space-between, center, row);
  width: 60%;
  min-height: 15vh;
  flex-wrap: wrap;
  @include ipad {
    width: 90%;
  }
  @include iphone {
    width: 100%;
  }

  &__logo--container {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    @include iphone {
      @include flex(center, center, column);
      flex: 1 1 20rem;
      margin: 1.5rem 1rem 0 0;
    }
  }

  &__logo--title {
    margin: 1rem;
  }

  &__list {
    @include flex(space-around, center, row);
    flex: 1 1 20rem;
    @include ipad {
      flex: 1 1 15rem;
    }
    @include iphone {
      flex: 1 1 70rem;
      margin: 2rem 0;
    }

    .active {
      background: $gray-text;
      color: white;
      padding: 1rem 1.5rem;
      border-radius: 2rem;
    }
  }
}
