.header {
  width: 95%;
  margin: 0 0 0 auto;
}

.nav {
  @include flex(space-between, center, row);
  width: 60%;
  min-height: 15vh;
  flex-wrap: wrap;

  &__logo--container {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
  }

  &__logo--title {
    margin: 1.5rem;
  }

  &__list {
    @include flex(space-around, center, row);
    flex: 1 1 20rem;
    .active {
      background: $gray-text;
      color: white;
      padding: 1rem 1.5rem;
      border-radius: 2rem;
    }
  }
}
