.video {
  width: 90%;
  padding: 0.5rem 0;
  margin: auto;

  &__series {
    @include flex(center, center, 0);
    flex-wrap: wrap;
  }

  &__content {
    margin: 1rem;
    flex: 2 1 40rem;
  }

  &__text__content {
    flex: 1 1 40rem;
  }

  &__text__title {
    text-align: center;
    color: $gray-text;
    padding: 1.5rem;
  }

  &__display {
    width: 100%;
    padding: 1rem;
    border: 1px solid lightgrey;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  &__display:hover {
    box-shadow: 2px 2px 4px lightgrey;
  }

  &__reverse {
    @include reverse {
      flex-direction: column-reverse;
      flex: 0 0 0rem;
    }
  }
}
