* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 1266px) {
    html {
      font-size: 53%; } }
  @media screen and (max-width: 657px) {
    html {
      font-size: 47%; } }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4,
h5 {
  font-size: 1rem; }

li,
button,
label,
input,
a,
p {
  font-size: 1.8rem; }

a {
  text-decoration: none;
  color: #2c2c2c; }

ul {
  list-style: none; }

.header {
  width: 95%;
  margin: 0 0 0 auto; }
  @media screen and (max-width: 657px) {
    .header {
      width: 100%; } }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 60%;
  min-height: 15vh;
  flex-wrap: wrap; }
  @media screen and (max-width: 1266px) {
    .nav {
      width: 90%; } }
  @media screen and (max-width: 657px) {
    .nav {
      width: 100%; } }
  .nav__logo--container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex: 1 1 10rem; }
    @media screen and (max-width: 657px) {
      .nav__logo--container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1 1 20rem;
        margin: 1.5rem 1rem 0 0; } }
  .nav__logo--title {
    margin: 1rem; }
  .nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex: 1 1 20rem; }
    @media screen and (max-width: 1266px) {
      .nav__list {
        flex: 1 1 15rem; } }
    @media screen and (max-width: 657px) {
      .nav__list {
        flex: 1 1 70rem;
        margin: 2rem 0; } }
    .nav__list .active {
      background: #2c2c2c;
      color: white;
      padding: 1rem 1.5rem;
      border-radius: 2rem; }

.intro {
  width: 95%;
  min-height: 85vh;
  margin: 0 0 0 5%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  @media screen and (max-width: 657px) {
    .intro {
      width: 90%;
      margin: 0 5% 0 5%; } }
  .intro__text {
    flex: 2 1 40rem; }
    @media screen and (max-width: 1266px) {
      .intro__text {
        flex: 1 1 40rem; } }
  .intro__images {
    flex: 1 1 40rem; }
  @media screen and (max-width: 1266px) {
    .intro__me {
      width: 80%; } }
  @media screen and (max-width: 657px) {
    .intro__me {
      height: 20%;
      margin-bottom: 2.5rem; } }
  .intro__name {
    font-size: 4.5rem;
    padding-top: 2rem; }
    @media screen and (max-width: 657px) {
      .intro__name {
        padding-top: 4rem; } }
  .intro__job {
    font-size: 3rem;
    padding: 2rem 0; }
  .intro__desc {
    width: 80%;
    padding-top: 1rem;
    color: #2c2c2c; }
    @media screen and (max-width: 1266px) {
      .intro__desc {
        width: 100%; } }
  .intro__social {
    padding-top: 2.5rem; }
    @media screen and (max-width: 657px) {
      .intro__social {
        margin-bottom: 2rem; } }
  .intro__social--github {
    margin-right: 1.2rem;
    width: 3.5rem; }
  .intro__social--linkedin {
    width: 3.5rem; }
  .intro__splash {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    z-index: -1; }
    @media screen and (max-width: 1266px) {
      .intro__splash {
        display: none; } }

#right-leaf {
  animation: plant 1.5s ease infinite alternate 0.5s; }

#left-leaf {
  animation: plant 1.5s ease infinite alternate; }

@keyframes plant {
  from {
    transform: translateY(0%); }
  to {
    transform: translateY(-30%); } }

#me {
  animation: me 1s ease infinite alternate;
  transform-origin: bottom; }

@keyframes me {
  from {
    transform: rotateZ(-5deg); }
  to {
    transform: rotateZ(5deg); } }

#arm {
  animation: arm 1.5s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box; }

@keyframes arm {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }

.contact {
  width: 90%;
  min-height: 75vh;
  margin: auto; }
  .contact__content {
    display: flex;
    flex-wrap: wrap;
    padding: 8rem 0 0 0; }
    @media screen and (max-width: 657px) {
      .contact__content {
        padding: 2rem 0 0 0; } }
  .contact__details {
    flex: 1 1 50rem; }
  .contact__title {
    margin-bottom: 3rem; }
    @media screen and (max-width: 1266px) {
      .contact__title {
        margin-top: 4rem; } }
    @media screen and (max-width: 657px) {
      .contact__title {
        margin-right: 2rem; } }
  .contact__list {
    display: flex;
    justify-content: 0;
    align-items: center;
    flex-direction: row; }
  .contact__img {
    width: 3rem;
    margin: 0 1.5rem 0 2.5rem; }
  .contact__item {
    margin: 1.5rem 0; }
  .contact__forms {
    flex: 1 1 50rem; }
    @media screen and (max-width: 1266px) {
      .contact__forms {
        flex: 1 1 46rem; } }
  .contact__form {
    display: flex;
    justify-content: 0;
    align-items: 0;
    flex-direction: column; }
    .contact__form .input {
      width: 45%;
      padding: 1rem 2rem;
      background-color: #323333;
      color: white;
      border: none;
      border-radius: 0;
      margin: 1rem 1rem 1rem 0;
      outline: none; }
  .contact__textarea {
    width: 92.3%;
    height: 18rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: #323333;
    color: white;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: 1.8rem;
    resize: vertical;
    font-family: "Montserrat", sans-serif; }
    @media screen and (max-width: 657px) {
      .contact__textarea {
        width: 93%; } }
  .contact__button {
    width: 20%;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    background-color: #323333;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out; }
  .contact__button:hover {
    background-color: white;
    color: #323333;
    border: 2px solid #323333; }

.projects {
  width: 90%;
  margin: auto;
  min-height: 100vh; }
  .projects__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0 0 0; }

.project {
  width: 30%;
  margin: 2rem 0rem;
  background: white;
  border: 1px solid #00bdaa;
  transition: all 0.4s ease; }
  @media screen and (max-width: 1266px) {
    .project {
      width: 48%; } }
  @media screen and (max-width: 657px) {
    .project {
      width: 80%; } }
  .project:hover {
    box-shadow: 4px 4px 6px lightgrey; }
  .project__image--container {
    background: black; }
  .project-img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.8;
    transition: all 0.3s ease; }
  .project:hover .project-img {
    opacity: 1; }
  .project__text-content, .project__links {
    padding: 1rem; }
  .project__text--title, .project__text--desc {
    padding: 1rem;
    cursor: default; }
  .project__links img {
    width: 4rem;
    height: 3rem; }

.about {
  width: 95%;
  min-height: 85vh;
  margin: 0 0 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  .about__desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: 0;
    flex-wrap: wrap;
    padding-top: 1rem; }
  .about__text {
    text-align: justify;
    text-align-last: auto;
    flex: 1 1 50rem; }
    @media screen and (max-width: 1266px) {
      .about__text {
        margin: 0 5% 0 0; } }
  .about__desc p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 1.5rem 0rem; }
  .about__desc a {
    color: #e178aa;
    font-weight: 500; }
  .about__image--container {
    flex: 1 1 50rem; }
    @media screen and (max-width: 1266px) {
      .about__image--container {
        margin: 0 5% 0 0; } }
  .about__img {
    margin-left: 3rem; }
    @media screen and (max-width: 1266px) {
      .about__img {
        width: 95%;
        margin-left: 0rem; } }
    @media screen and (max-width: 657px) {
      .about__img {
        height: 10%; } }
  .about__skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: 0;
    flex-wrap: wrap;
    margin: 0 5% 0 0; }
  .about__skills > div {
    margin: 4rem 2rem; }
  .about__skills > div > img {
    width: 9rem;
    height: 9rem; }
    @media screen and (max-width: 1266px) {
      .about__skills > div > img {
        width: 8rem;
        height: 8rem; } }
    @media screen and (max-width: 657px) {
      .about__skills > div > img {
        width: 7rem;
        height: 7rem; } }

.basic {
  padding: 1rem;
  margin: 0.8rem;
  border: 1px solid #d573ab;
  outline: none;
  cursor: pointer; }

.flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 657px) {
    .flex {
      flex-direction: column; } }

.video1 {
  width: 45%;
  transition: all 0.4s ease; }
  @media screen and (max-width: 657px) {
    .video1 {
      margin: 2rem;
      padding-top: 2rem;
      width: 80%; } }

.video1:hover {
  box-shadow: 4px 4px 6px lightgrey; }

.video2 {
  width: 45%;
  transition: all 0.4s ease; }
  @media screen and (max-width: 657px) {
    .video2 {
      margin: 2rem;
      width: 80%; } }

.video2:hover {
  box-shadow: 4px 4px 6px lightgrey; }

.video__seriesTwo {
  padding: 2rem 0rem; }

.video3 {
  width: 60%;
  transition: all 0.4s ease; }
  @media screen and (max-width: 657px) {
    .video3 {
      width: 80%; } }

.video3:hover {
  box-shadow: 4px 4px 6px lightgrey; }

.video__seriesThree {
  padding-bottom: 1rem; }

.video4 {
  width: 30%;
  transition: all 0.4s ease; }
  @media screen and (max-width: 657px) {
    .video4 {
      margin: 2rem;
      width: 80%; } }

.video4:hover {
  box-shadow: 4px 4px 6px lightgrey; }

.video5 {
  width: 30%;
  transition: all 0.4s ease; }
  @media screen and (max-width: 657px) {
    .video5 {
      margin: 2rem;
      width: 80%; } }

.video5:hover {
  box-shadow: 4px 4px 6px lightgrey; }

.video6 {
  width: 30%;
  transition: all 0.4s ease; }
  @media screen and (max-width: 657px) {
    .video6 {
      margin: 2rem;
      width: 80%; } }

.video6:hover {
  box-shadow: 4px 4px 6px lightgrey; }

.footer {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  color: #2c2c2c;
  display: flex;
  justify-content: 0;
  align-items: center;
  flex-direction: 0; }
