$header1: 2.5rem;
$header2: 3rem;
$header3: 2.5rem;
$header4: 1rem;
$text: 1.8rem;
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "./modules/global";
@import "./modules/nav";
@import "./modules/intro";
@import "./modules/animations";
